<div class="content-right">
    <h2>Categoría 1</h2>
    <div class="report-select">
        <p class="select-btn">Selecciona un reporte</p>
        <p class="go-btn">Acceder</p>
    </div>
    <div class="form">
        <h3>Información requerida</h3>
        <p class="calendar-btn">Ingrese período</p>
        <div class="params">
            <p class="param1-btn">Ingreese parámetro 1</p>
            <p class="param1-btn">Ingreese parámetro 2</p>
        </div>
        <p class="upload-btn">Ingrese archivo</p>
        <div class="bottom-btn">
            <p class="go-btn">Planificar Reporte</p>
            <p class="report-btn">Ejecutar Reporte</p>
        </div>
    </div>
</div>