body {
    display: flex;
    flex-flow: column;
    background-color: #1B0088;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font: normal normal bold 61px/74px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

img {
    margin-bottom: 50px;
}

a {
    font: normal normal normal 18px/26px Arial Black;
    text-decoration: none;
    background-color: white;
    color: #1B0088;
    width: 120px;
    height: 29px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 0px;
    opacity: 1;
}